*{
	box-sizing: border-box;
}
html {
	font-family: 'Lato', sans-serif;
}
.lateral {
	background:linear-gradient(0deg, #A0D9D9,#49868C 100%);
	position:fixed;
	top:0;
	bottom: 0;
	left: 0;
	width: 350px;
	padding: 1em;

}
/* Perfil */

.perfil_circulo{
	width: 80px;
	height: 80px;
	overflow: hidden; 
	margin: 0;
	
}

.perfil_nombres{
	color: white;
	font-size:  20px;
	margin-left: .5em;
	width: 250px;

}


.menulist{
	padding-top: 40px;
}	

